
.dialog-close button{
  background: none;
    border: none;
    cursor: pointer;
}
img{
  width: 200px;
}

.quantity button{
  width: 40px;
  height: 40px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  border: none;
  background: white;
  font-weight: bold;
  cursor: pointer;
}

.quantity-input{
 width: 60px;
}

.btn-model{
  font-size: 12px;
  text-transform: uppercase;
}


.color-pink{
  background:#ee6e73;
  color: white;
}
