agm-map{
	width: 100%;
	height: 100%;
  }

  h5{
    margin-top: 60px;
    font-size: 14px;
      color: #2c3b4b;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      i{
        margin-right: 10px;
        font-size: 25px;
        cursor:pointer;
      }
  }


  @media screen and (max-width: 890px) {
    agm-map{
      height: 500px;
    }
  }
