<div class="container">
   <div class="card p-5 text-center">
      <h2>Contact us</h2>
      <form class="">
          <mat-form-field class="d-flex flex-column">
              <input matInput placeholder="Your name" value="Sushi">
          </mat-form-field>
          <mat-form-field class="d-flex flex-column">
              <textarea matInput placeholder="Leave a comment" rows="10"></textarea>
           </mat-form-field>
           <button mat-raised-button color="primary">SEND</button>
        </form>
      </div>
</div>
