:host{
  background: white;
	width: 100%;
  margin: 0 auto;
  display: block;
}

.page-footer
{
	background: #74b82c;
  color: white;
  border-top: solid #e60513;
  margin-top: 100px;
}
.footer-menu {
  list-style: none;
}
.footer-menu li {
	margin-right: 10px;
}
