:host{
  background: white;
	width: 100%;
  margin: 0 auto;
  display: block;
}

.page-footer
{
	background: #309274;
  color: white;
}
.footer-menu {
  list-style: none;
}
.footer-menu li {
	margin-right: 10px;
}
