img {
  max-width: 210px;
  margin: 0 auto;
}
.col-md-4{
  text-align: center;
}

h5{
  margin-top: 60px;
  font-size: 14px;
    color: #2c3b4b;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

i{
  margin-right: 10px;
  font-size: 25px;
  cursor:pointer;
}
