/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
  background:#f6f9fc;
  background-image: url('/assets/img/bg.jpg');
	font-family: Montserrat Alternates;
}

.container{
	width: 90%;
}


.small{
  font-size: 12px;
}

